.mx-0{
    margin-right: 0px!important;
    margin-left: 0px!important;
}

body{
    background-color: #f6f6f6!important;
    font-family: 'Lato', sans-serif;
    padding-bottom: 70px;
}

/*PARA EL BOTON ROJO*/
.btn-strRed,a:link.btn-strRed{background-color:#e90b2a!important;border:1px solid #e90b2a;color:rgba(255,255,255,.85)}
.btn-strRed:hover,a:link.btn-strRed:hover{background-color:#b20019!important;border:1px solid #b20019!important;color:#fff}
.btn-strRed:active,a:link.btn-strRed:active{background-color:#d1384d!important;border:1px solid #d1384d!important;color:#fff!important;box-shadow:none!important}
.btn-strRed:focus,a:link.btn-strRed:focus{background-color:#e90b2a;border:1px solid #e90b2a;color:#fff!important;box-shadow:none!important}
.btn-strRed.btn-outline,a:link.btn-strRed.btn-outline{background-color:#fff;color:#e90b2a}
.btn-strRed.btn-outline:focus,a:link.btn-strRed.btn-outline:focus{background-color:#fff!important;color:#e90b2a!important}
.btn-strRed.btn-outline:active,.btn-strRed.btn-outline:hover,a:link.btn-strRed.btn-outline:active,a:link.btn-strRed.btn-outline:hover{color:#fff!important;background-color:#e90b2a!important}
.btn-strRed.disabled,.btn-strRed:disabled{color:#fff;background-color:rgba(57,154,242,.85);border-color:rgba(57,154,242,.85)}
.btn-strRed:not(:disabled):not(.disabled).active,.btn-strRed:not(:disabled):not(.disabled):active,.show>.btn-strRed.dropdown-toggle{background-color:#e90b2a;border:1px solid #e90b2a;color:rgba(255,255,255,.85)}


/*PARA EL BOTON ROJO*/
.btn-strBlue,a:link.btn-strBlue{background-color:#19202f!important;border:1px solid #19202f;color:rgba(255,255,255,.85)}
.btn-strBlue:hover,a:link.btn-strBlue:hover{background-color:#182C45!important;border:1px solid #182C45!important;color:#fff}
.btn-strBlue:active,a:link.btn-strBlue:active{background-color:#0F2D53!important;border:1px solid #0F2D53!important;color:#fff!important;box-shadow:none!important}
.btn-strBlue:focus,a:link.btn-strBlue:focus{background-color:#19202f;border:1px solid #19202f;color:#fff!important;box-shadow:none!important}
.btn-strBlue.btn-outline,a:link.btn-strBlue.btn-outline{background-color:#fff;color:#19202f}
.btn-strBlue.btn-outline:focus,a:link.btn-strBlue.btn-outline:focus{background-color:#fff!important;color:#19202f!important}
.btn-strBlue.btn-outline:active,.btn-strBlue.btn-outline:hover,a:link.btn-strBlue.btn-outline:active,a:link.btn-strBlue.btn-outline:hover{color:#fff!important;background-color:#19202f!important}
.btn-strBlue.disabled,.btn-strBlue:disabled{color:#fff;background-color:rgba(57,154,242,.85);border-color:rgba(57,154,242,.85)}
.btn-strBlue:not(:disabled):not(.disabled).active,.btn-strBlue:not(:disabled):not(.disabled):active,.show>.btn-strBlue.dropdown-toggle{background-color:#19202f;border:1px solid #19202f;color:rgba(255,255,255,.85)}

.bg-strRed{
    background-color: #e90b2a;
}
.text-strRed{
    color: #e90b2a;
}
.bg-strBlue{
    background-color:#19202f;
}
.text-strBlue{
    color: #19202f;
}
html {
  scroll-behavior: smooth;
}

.scrollToTop{
    margin: 0 !important;
    padding: 9px !important;
    padding-left: 11px!important;
    background: #fff;
    height: 0px;
    width: 0px;
    
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    
    
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    
    border: solid #e8e8e8;
    right: 20px;
    bottom: 30px;
    outline: 0 !important;
    z-index: 99;


    display: block;
    background: transparent;
    color: #b0b0b0;
    font-size: 25px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
.scrollToTop::before {
    content: "\f0de";
    font-family: "FontAwesome";
    font-display:auto;
    display: block;
    vertical-align: middle;
    margin: auto 4px;
}
.scrollToTop:hover{
    background-color:#e8e8e8!important;
    text-decoration: none!important;
    color: #787878!important;
}

.footer{
    border-top: 1px solid rgba(152, 166, 173, .2);
    padding: 14px 30px 14px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* The Image container */
.img-hover-zoom {
  /*height: 300px;  *//*Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}
/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform .5s, filter .8s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  border: solid 2px #e90b2a;
}